<ul class="product-grid">
  <li *ngFor="let product of availableProducts"
      class="product-card" 
      [class.low-quantity]="product.quantity < 10">
    
    <img class="product-image" [src]="product.imageUrl" alt="{{ product.productTitle }}" />
    <h3 class="product-title">{{ product.productTitle }}</h3>
    <button (click)="selectProduct(product)" class="details-button">
      {{ selectedProduct === product ? 'Cacher' : 'Détails' }}
    </button>
    
    <div *ngIf="selectedProduct === product" class="product-details-panel">
      <h2>Product Details</h2>
      <p>{{ product.productTitle }}</p>
      <p>{{ product.description }}</p>
      <p class="price">Price: {{ product.productPrice }}$</p>
      <p class="quantity">Quantity: {{ product.quantity }}</p>
    </div>
  </li>
</ul>
<app-product-details [product]="selectedProduct"></app-product-details>