<div *ngIf="product">
  <h3 i18n="@@productDetailsTitle">Product Details</h3>
  
  <img [src]="product.imageUrl" alt="{{ product.productTitle }}" width="100" height="100">
  
  <p i18n="@@productId"><strong>ID:</strong> {{ product.productId }}</p>
  <p i18n="@@productTitle"><strong>Title:</strong> {{ product.productTitle }}</p>
  <p i18n="@@productPrice"><strong>Price:</strong> {{ product.productPrice }} DH</p>
  <p i18n="@@productDescription"><strong>Description:</strong> {{ product.description }}</p>
  <p i18n="@@productQuantity"><strong>Quantity:</strong> {{ product.quantity }}</p>

  <button routerLink="/" class="back-button" i18n="@@backButton">← Go back</button>
</div>